[Unit] 
Description=Run the ADIS read program
After=syslog.target network.target

[Service] 
Type=simple
WorkingDirectory=/usr/share/ADISread
ExecStart=/bin/bash ADIS_start.sh
SyslogIdentifier=ADIS

[Install] 
WantedBy=multi-user.target
