[Unit]
Description=FREJ 180 Camera Capturing 1s

[Service]
Type=simple
WorkingDirectory=/home/root/OMEGA
ExecStart=/bin/bash get_F180_1s.sh
SyslogIdentifier=F180_cam_1s

[Install]
WantedBy=multi-user.target
