[Unit]
Description=FREJ 180 Camera Capturing 10s

[Service]
Type=simple
WorkingDirectory=/home/root/OMEGA
ExecStart=/bin/bash get_F180_2s.sh
SyslogIdentifier=F180_cam_2s

[Install]
WantedBy=multi-user.target
