[Unit]
Description=FREJ 360 Camera Capturing 10s

[Service]
Type=simple
WorkingDirectory=/home/root/OMEGA
ExecStart=/bin/bash get_F360_10s.sh
SyslogIdentifier=F360_cam_10s

[Install]
WantedBy=multi-user.target
